$primary-color: #00766c;
$primary-light: #009688;
$primary-dark: #284956;

$secondary-color: #2196F3;
$secondary-light: #E3F2FD;
$secondary-dark: #0D47A1;

$day-shaded: rgba(0,0,0,0.3);
$day-highlighted: #CDDC39;
$day-current: #99D5CF;
    

$calendar-width: 90%;
$calendar-height: 100%;
$max-calendar-width: 1200px;

@font-face 
    font-family: Roboto
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf')


body
    margin: 0
    padding: 0